/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  
  /*===== Colores =====*/
  --first-color: #68e0cf;
  --dark-color: #000000;
  --dark-color-alt: #282B3A;
  --white-color: #E6E7E9;
  --main-color:#68e0cf;

  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*===== z index =====*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*===== BASE =====*/
*, ::before, ::after {
  -webkit-box-sizing: border-box ;
          box-sizing: border-box;
}
html{
  scroll-behavior: smooth !important;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

.bd-grid {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*===== HEADER =====*/
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1.5rem;
  background-color: var(--dark-color);
  z-index: var(--z-fixed);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  color: var(--white-color);
  text-decoration: none;
}
.header__logo span{
  color: var(--main-color);

}
.header__logo:hover{
  color: var(--white-color);
}
.header__logo span{
  color: var(--main-color);
  
}
.header__toggle {
  font-size: 1.5rem;
  color: var(--white-color);
  cursor: pointer;
}

/*===== NAV FOR MOBILE =====*/
@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--dark-color);
    color: var(--white-color);
    width: 100%;
    height: 100vh;
    padding: 1.5rem 0;
    z-index: var(--z-fixed);
    -webkit-transition: .5s;
    transition: .5s;
    overflow: hidden !important;
  }
  .nav__name{
  font-size: 20px;
  
}
.nav__name:hover{
  color: var(--white-color);
}
.nav__name span:hover{
  color: var(--main-color);
}
.nav__link:hover {
  color: var(--main-color);
  text-decoration: none;
}
}
.nav__content {
  height: 100%;
  -ms-grid-rows: max-content 1fr max-content;
      grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
      grid-template-rows: max-content 1fr max-content;
  row-gap: 2rem;
}

.nav__close {
  position: absolute;
  right: 1.5rem;
  font-size: 1.3rem;
  padding: .25rem;
  background-color: var(--dark-color-alt);
  border-radius: 50%;
  cursor: pointer;
}

.nav__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: .25rem;
  margin-bottom: .8rem;
  width: 56px;
  height: 56px;
  background-color: var(--first-color);
  border-radius: 50%;
  overflow: hidden;
}

.nav__img img {
  width: 46px;
}

.nav__name {
  display: block;
  color: var(--white-color);
}
.nav__name span{
  color: var(--main-color);
}
.nav__profesion {
  font-size: var(--small-font-size);
}

.nav__menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav__item {
  margin: 2.5rem 0;
  text-decoration: none;
}

.nav__link {
  color: var(--white-color);
  text-decoration: none;
}

.nav__social {
  padding-top: .5rem;
}

.nav__social-icon {
  font-size: 1.2rem;
  color: var(--white-color);
  margin-right: 1rem;
}

.nav__social-icon:hover {
  color: var(--first-color);
}

/*Aparecer menu*/
.show {
  left: 0;
}

/*Active menu*/
.active {
  color: var(--first-color);
}

/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .header {
    height: calc(var(--header-height) + 1rem);
  }
  .header__logo, .header__toggle {
    display: none;
  }
  .nav {
    width: 100%;
  }
  .nav__content {
    -ms-grid-columns: (max-content)[3];
        grid-template-columns: repeat(3, -webkit-max-content);
        grid-template-columns: repeat(3, max-content);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__close, .nav__profesion {
    display: none;
  }
  .nav__perfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__img {
    width: 32px;
    height: 32px;
    margin-right: .5rem;
    margin-bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__img img {
    width: 26px;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin: 0 .25rem;
    text-decoration: none;
  }
  .nav__link {
    padding: .5rem .8rem;
    border-radius: 50px;
  }
  .nav__link:hover {
    background-color: var(--first-color);
    border-radius: 50px;
    color: var(--dark-color);
  }
  .active {
    background-color: var(--first-color);
    color: var(--white-color);
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
.nav__name{
  font-size: 18px;
}
.nav__name:hover{
  font-size: 18px;
  color: var(--white-color);
}
.nav__name span:hover{
  font-size: 18px;
  color: var(--main-color);
}
  .nav__item:hover {
    background-color: var(--first-color);
    border-radius: 50px;
    color: var(--dark-color);
  }
}
/* CSS FOR HOME SECTION START*/
header .main{
	width: 100%;
	height: 100vh;
	background-color: black;
	background-size: cover;
	position: relative;
  	overflow: hidden;
}
.info{
	margin-top: -40px;
	margin-bottom: -50px !important;
}
.info h1{
	padding-top: -25px;
	font-size: 1.9em;
	font-weight: bold;
}
.info span{
	color: #68e0cf;
}
.info h6{
	font-size: 18px;
	margin-bottom: 15px;
	letter-spacing: 1.5px;
}
/*button Csss*/
.Download {
background-color:black !important;
border-color:#68e0cf  !important;
color: #68e0cf !important;
margin-left: 10px;
transition: all 0.4s;

}
.Download:hover{
background-color:#68e0cf !important;
color: black !important;
border-color: #68e0cf  !important;
transition: all 0.4s;
}
.info button{
	margin-top: 10px;
	height: 40px;
	width: 150px;
	shape-outside: circle();
	background-color: #68e0cf;
	color: #373b40;
	display: inline-block;
	shape-outside: circle(20deg);
	border-radius: 20px;
	border-color: #68e0cf;
	font-size: 16px;
	font-weight: bold;
}
.info button:hover{
	background-color:black;
	border-color: #68e0cf;
	color: #68e0cf;
	display: inline-block;
	shape-outside: circle(20deg);
	
}
/*button Csss End*/
.info{
	color: #d9d9d9;
	font-size: 20px;
	padding-top: 260px;
	letter-spacing: 1px;
}
@media screen and (max-width: 700px) {
  header .main{
	width: 100%;
	height: 100vh;
	background-color: black;
	background-size: cover;
	position: relative;
  overflow: hidden;
}
.info{
	margin-top: -40px;
	margin-bottom: -50px !important;
}
.info h1{
	font-size: 1.5em;
	font-weight: bold;
}
.info span{
	color: #68e0cf;
}
.info h6{
	font-size: 14px;
	margin-bottom: 15px;
	letter-spacing: 1.5px;
}
/*button Csss*/
.Download {
background-color:black !important;
border-color:#68e0cf  !important;
color: #68e0cf !important;
margin-left: 8px;
transition: all 0.4s;

}
.Download:hover{
background-color:#68e0cf !important;
color: black !important;
border-color: #68e0cf  !important;
transition: all 0.4s;
}
.info button{
	margin-top: 10px;
	height: 30px;
	width: 130px;
	shape-outside: circle();
	background-color: #68e0cf;
	color: #373b40;
	display: inline-block;
	shape-outside: circle(20deg);
	border-radius: 20px;
	border-color: #68e0cf;
	font-size: 12px;
	font-weight: bold;
}
.info button:hover{
	background-color:black;
	border-color: #68e0cf;
	color: #68e0cf;
	display: inline-block;
	shape-outside: circle(20deg);
}
}
/*CSS HOME END*/


/* Css for Skills Section START*/

.skills1{
	z-index: 99999;
	color: white;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 30px;
}
.skewed{
	position: absolute;
	margin-top: 100px;
	right: 0;
	left: 0;
	width: 100%;
	height: 18vh;
	background: black;
	z-index: -1;
	transform: skewY(-5deg);
	transform-origin: top left;
}
nav{
	z-index: 100000;
}

.skill{
	background-color: black;
	z-index: 99999;
	color: white;
	margin-top: 80px;
}
.inner{
	padding-top: 20px;
	
}
@media screen and (min-width: 768px){
#con-skill{
	display: grid;
	grid-template-columns:repeat(3,1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	grid-gap: 1rem;
	padding: 1rem 80px;
	font-size: 1.2rem;
}
}
.skill-box{
	padding: 1rem;
	color: #eee;
	cursor: pointer;
}
.skill-title{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem;
margin-bottom: 0.5rem;
position: relative;
}
.skill-title:after{
	content: "";
	position: absolute;
	bottom: 0;
	right: 50%;
	width: 35px;
	height: 4px;
	border-radius: 2px 0 0 2px;
	color: #68e0cf;
	transition: 0.5s;
}
.skill.box:hover > .skill-title:after, .skill-title:before > .skill-title:before{
width: 35px;
}
.skill-title:before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 35px;
	height: 4px;
	border-radius: 0px 2px 2px 0px;
	color: #68e0cf;
	transition: 0.5s;
}

.img:after{
content: "";
position: absolute;
top: 0;
left: 0;
width: 50%;
height: 100%;
background-color: rgba(100,100,100,0.2);
border-radius: 45px 0 0 45px;
}
.skill-title{
	color: #fff;
	margin-top: 0.6rem;
}
.img{
	width: 90px;
	height: 90px;
	position: relative;
	border-radius: 45px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.skill-icon{
	width: 50px;
	z-index: 2;
}
.Skill-Main-Title h1{
  font-size: 27px !important;
  margin-top: 50px;
  padding: 1rem;
}
.Skill-Main-Title span{
  color: var(--main-color);
  font-size: 27px;
}
.skill-title h3{
  font-size: 18px;
  padding-top: 10px;
}
.skill-box p{
  font-size: 13px;
  font-weight: 100;
  margin-top: -8px;
}
@media screen and (max-width: 700px){
.skills1{
	z-index: 99999;
	color: white;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 30px;
}
nav{
	z-index: 100000;
}

.skill{
	background-color: black;
	z-index: 99999;
	color: white;
	margin-top: 80px;
}
.inner{
	padding-top: 20px;
	
}
#con-skill{

	justify-content: center;
	align-items: center;
	text-align: center;
	grid-gap: 1rem;
	padding: 1rem 80px;
	font-size: 1.2rem;
}
.skill-box{
	padding: 1rem;
	color: #eee;
	cursor: pointer;
}
.skill-title{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem;
margin-bottom: 0.5rem;
position: relative;
}
.skill-title:after{
	content: "";
	position: absolute;
	bottom: 0;
	right: 50%;
	width: 35px;
	height: 4px;
	border-radius: 2px 0 0 2px;
	color: #68e0cf;
	transition: 0.5s;
}
.skill.box:hover > .skill-title:after, .skill-title:before > .skill-title:before{
width: 35px;
}
.skill-title:before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 35px;
	height: 4px;
	border-radius: 0px 2px 2px 0px;
	color: #68e0cf;
	transition: 0.5s;
}

.img:after{
content: "";
position: absolute;
top: 0;
left: 0;
width: 50%;
height: 100%;
background-color: rgba(100,100,100,0.2);
border-radius: 45px 0 0 45px;
}
.skill-title{
	color: #fff;
	margin-top: 0.6rem;
}
.img{
	width: 90px;
	height: 90px;
	position: relative;
	border-radius: 45px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.skill-icon{
	width: 50px;
	z-index: 2;
}
.Skill-Main-Title h1{
  font-size: 27px !important;
  margin-top: 50px;
}
.Skill-Main-Title span{
  color: var(--main-color);
  font-size: 27px;
}
.skill-title h3{
  font-size: 18px;
  padding-top: 10px;
}
.skill-box p{
  font-size: 13px;
  font-weight: 100;
  margin-top: -8px;
}
}
.Skill-Main-Title:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 4px;
	width: 150px;
	background-color: #68e0cf;
}
/* CSS for Skills Section END*/


/* CSS FOR WORK SECTION*/
/* Work section css start*/
#skilll-scroll{
	margin-bottom: -70px;
}
.work-gallary {
	width: 100%;
	background-color: white;
	background-size: cover;
	position: relative;
  	overflow: hidden;
  	margin-top: 150px;
  	margin-bottom: 100px;
}
.work-sub-title{
	font-size: 20px;
}
.button-group{
	font-size: 16px;
}
#work .grid .grid-item{
	margin-right: 1.2rem;
	margin-top: 1rem;
}
.Work-Main-TItle{
	font-weight: bold;
	justify-content: center;
	text-align: center;
	z-index: 1;
	font-size: 25px;

}
.Work-Main-TItle span{
	color:  #68e0cf;
	font-weight: bold;
	
}
.show-button{
	border-radius: 
}
.show-button {
background-color:#68e0cf !important;
border-color:#68e0cf  !important;
color: black !important;
padding: 8px 12px 8px 12px;
shape-outside: circle();
font-weight: bold;
font-size: 10px !important;
border-radius: 15px;
}
.show-button:hover{
background-color:#68e0cf !important;
color: black !important;
border-color: #68e0cf  !important;
transition: all 500ms ease;
}
.portfolio-filter{
	padding-top: 50px;
	margin-left: -15px;
}
#mix-container{
	padding-bottom: 130px!important;
}



.About-Main-title{
	text-align: center;
	color: black;
	padding:1rem;
	position: relative;
}
.About-Main-title:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 4px;
	width: 150px;
	background-color: #68e0cf;
}
.Work-Main-TItle{
	text-align: center;
	color: black;
	padding:1rem;
	position: relative;
}
.Work-Main-TItle:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 4px;
	width: 70px;
	background-color: #68e0cf;
}
/* CSS FOE WORK SECTION END*/

/*CSS FOR CONTACT SECTION*/
/*Contact CSSS start*/
section.contact-us{
    padding-top:0;
    padding-bottom: 0;
}
section.contact-us .contact-info-wrapper {
    padding:4rem 0;
    flex:1;
}
section.contact-us .map{
    flex:1;
    filter:grayscale(100%);
    -webkit-filter:grayscale(100%);
}
section.contact-us .contact-info{
    display:flex;
    justify-content: center;
}
section.contact-us .contact-info > div > div {
    display:flex;
    align-items:center;
    margin-bottom:2rem;
}
section.contact-us .contact-info > div > div img{
    margin-right: 1rem;
}
section.contact-us .contact-info > div > div > div{
    display:flex;
    flex-direction: column;
}
section.contact-us .contact-info > div > div > div span:first-child{
    margin-bottom:0.25rem;
}
footer{
    background:black;
    padding:4rem 0;
}
footer .container{
    display:flex;
    color:white;
}

footer .box{
    flex:1;
    margin-right:2rem;
    text-align:center;
}

footer .instagram-api img{
    width:100%;
    height:100%;
    object-fit: cover;
}
footer .instagram-api .post-wrap{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
footer .instagram-api .post-wrap > div{
    width: calc(1/3*100% - (1 - 1/3)*10px);
    margin-bottom:10px;
}
footer .box ul{
    list-style-type: none;
}
footer .box ul li a{
    color:white;
    text-decoration: none;
    transition: all .3s ease;
    font-size: 14px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
footer .box ul li a:hover{
    color:#68e0cf;
}
footer .box h3{
    border-bottom:3px solid #68e0cf;
    padding-bottom:1rem;
    margin-bottom:1rem;
    font-size: 1rem;
}

footer .box p{
    line-height: 1.6;
    margin-bottom:1rem;
    font-size: 12px;
}
footer .box ul li{
    margin-bottom:1rem;
}
footer .box:nth-child(3) > div {
    display:flex;
    justify-content: center;
}
footer .box:nth-child(3){
    text-align: left;
}
footer .box:nth-child(3) h3{
    text-align: center;
}
footer .box:nth-child(3) > div img{
    margin-right:1rem;
}
footer .box:nth-child(3) ul li{
    margin-bottom:1.5rem;
}

footer.copyright{
    padding:1rem 0;
    background: black;
    color:white;
    text-align: center;
    font-size: 0.7rem;
}
footer.copyright a{
    color:#68e0cf;
    text-decoration: none;
}
.Footer-btn{
	background-color:#68e0cf !important;
border-color:#68e0cf  !important;
color: black !important;
padding: 6px 10px 6px 10px;
shape-outside: circle();
font-weight: bold;
font-size: 12px !important;
border-radius: 20px;
}
.Footer-btn:hover{
background-color:black !important;
color: #68e0cf !important;
border-color: #68e0cf  !important;
transition: all 500ms ease;
}


/*Contact Form csss*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}
button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

.contact1 {
  width: 100%;
  min-height: 100%;
  padding: 15px;
  background: black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-contact1 {
  width: 1163px;
  background: black;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding: 90px 130px 88px 148px;
}

.contact1-pic {
  width: 296px;
}

.contact1-pic img {
  max-width: 100%;
}

.contact1-form {
  width: 390px;
}

.contact1-form-title {
  display: block;
  font-size: 24px;
  font-weight: 500 !important;
  color: white; 
  line-height: 1.2;
  text-align: center;
  background-color: black;
  padding-top: 50px;
  font-weight: bold;

}
.contact1-form-title span{
color: #68e0cf;
}
input.input1 {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px;
}
input.input1 + .shadow-input1 {
  border-radius: 25px;
}

textarea.input1 {
  min-height: 150px;
  border-radius: 25px;
  padding: 12px 30px;
}
textarea.input1 + .shadow-input1 {
  border-radius: 25px;
}

.wrap-input1 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}

.input1 {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
}

.shadow-input1 {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.5);
}

.container-contact1-form-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.contact1-form-btn {
  min-width: 193px;
  height: 50px;
  border-radius: 25px;
  background: #68e0cf;
  font-size: 12px;
  font-weight: 100;
  line-height: 1.5;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  transition: all 0.4s;
}


.contact1-form-btn:hover {
	background-color: black;
  color: #68e0cf;
  border-color: #68e0cf;
  border-width: 1.5px;
}
.contact1-form-btn span{
	font-weight: bold;
}

@media (max-width: 1200px) {
  .contact1-pic {
    width: 33.5%;
  }

  .contact1-form {
    width: 44%;
  }
}

@media (max-width: 992px) {
  .container-contact1 {
    padding: 90px 80px 88px 90px;
  }

  .contact1-pic {
    width: 35%;
  }

  .contact1-form {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .container-contact1 {
    padding: 90px 80px 88px 80px;
  }

  .contact1-pic {
    display: none;
  }

  .contact1-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container-contact1 {
    padding: 90px 15px 88px 15px;
  }
}
.validate-input {
  position: relative;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
.address-mail{
	color: white;
	padding-bottom: 100px;
}
.address-mail h3{
  font-size: 18px;
  font-weight: 100;
}
.address-mail p{
	font-size: 12px !important;
	color: #68e0cf !important;
	text-decoration: none;
}
.address-mail p a{
	font-size: 13px !important;
	color: #68e0cf !important;
	text-decoration: none;
}
.address-mail p a:hover{
	font-size: 13px !important;
	color: #68e0cf !important;
	text-decoration: none;
}

.contact1-form-title{;
	padding:1rem;
	position: relative;
  font: size 20px;;
}
.contact1-form-title:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 4px;
	width: 70px;
	background-color: #68e0cf;
}
#contact{
	background-color: black;
	padding-top: 50px;
}

.error{
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	color: #01a743;
}
/*CSS FOR CONTACT SECTION END*/



/* CSS of About Section*/
.About h1{
	text-align: center;
	font-size: 27px;
	font-weight:bold;
  margin-top: 50px;
}
.About span{
	color: #68e0cf;
	font-weight: bolder;
}
.About p{
	font-size: 20px;
}
.Circular{
	width: 300px;
	height: 300px;
	margin-top: 20px;
	background-image: url('../img/Self.jpg');
	background-size: cover;
	border-color: #68e0cf;
	display: block;
	-webkit-border-radius:200px;
	-moz-border-radius:200px;
}
.contentBx span{
	color: #68e0cf;
	font-weight: bold;
}
.contentBx h2{
	font-weight: bold;
}
.cssCards{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-height: 50vh;

}
.container .card{
	position: relative;
	width: 330px;
	height: 330px;
	background: rgba(255,255,255,0.05);
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0,0,0,0.2);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter:blur(10px);
}
.sci{
	justify-content: center;
	align-items: center;
	font-size: 14px !important;
	margin-right: 5px !important;
	margin-left: 5px !important;
}
.container .card .content{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 05s;
}
.btn_Cards{
	margin-top: 10px;
	height: 40px;
	width: 120px;
	shape-outside: circle();
	background-color: #68e0cf;
	color: #373b40;
	display: inline-block;
	shape-outside: circle(20deg);
	border-radius: 20px;
	border-color: #68e0cf;
	font-size: 16px;
	font-weight: bold;
}
.What{
	font-weight: bold;
}
.btn_Cards:hover{
	background-color:white;
	border-color: #68e0cf;
	color: #68e0cf;
	display: inline-block;
	shape-outside: circle(20deg);
}
.contentBx h2{
  font-size: 1.3em;
  font-weight: 700;
}
.contentBx h3{
  font-size: 1.1em;
}
@media screen and (max-width:700px) {
.About h1{
	text-align: center;
	font-size: 25px;
	font-weight:bold;
  margin-top: 50px;
}
.About span{
	color: #68e0cf;
	font-weight: bolder;
}
.About p{
	font-size: 10px;
}
.Circular{
	width: 250px;
	height: 250px;
	margin-top: 20px;
	background-image: url('../img/Self.jpg');
	background-size: cover;
	border-color: #68e0cf;
	display: block;
	-webkit-border-radius:150px;
	-moz-border-radius:150px;
}
.contentBx span{
	color: #68e0cf;
	font-weight: bold;
}
.contentBx h2{
	font-weight: bold;
}
.cssCards{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-height: 50vh;

}
.container .card{
	position: relative;
	width: 200px;
	height: 250px;
	background: rgba(255,255,255,0.05);
	margin: 10px;
	box-shadow: 0 15px 35px rgba(0,0,0,0.2);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter:blur(10px);
}
.sci{
	justify-content: center;
	align-items: center;
	font-size: 9px !important;
    margin: 0px 8px -5px 8px  !important;
}
.container .card .content{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 05s;
}
.btn_Cards{
	margin-top: 5px;
	height: 20px;
	width: 60px;
	shape-outside: circle();
	background-color: #68e0cf;
	color: #373b40;
	display: inline-block;
	shape-outside: circle(10deg);
	border-radius: 10px;
	border-color: #68e0cf;
	font-size: 10px;
	font-weight: bold;
}
.What{
	font-weight: bold;
}
.btn_Cards:hover{
	background-color:white;
	border-color: #68e0cf;
	color: #68e0cf;
	display: inline-block;
	shape-outside: circle(20deg);
}
.contentBx h2{
  font-size: 0.9em;
  font-weight: 700;
  margin-top: 5px;
}
.contentBx h3{
  font-size: 0.8em;
}
}
/* CSS of ABout Section End*/